.app_dark_theme {
	--bg-color: rgb(19 19 19);
	--inverted-bg-color: rgb(207 207 207);
	--primary-color: rgb(73, 202, 41);
	--secondary-color: rgb(39 39 39);
	--inverted-primary-color: rgb(27 27 27);
	--inverted-secondary-color: rgb(104 104 104);
}
