.app.dark {
	--bg-color: rgb(19, 19, 19);
	--inverted-bg-color: rgb(207, 207, 207);

	--primary-color: rgb(255, 255, 255);
	--secondary-color: rgb(39, 39, 39);

	--inverted-primary-color: rgb(27, 27, 27);
	--inverted-secondary-color: rgba(104, 104, 104);
}